---
layout: default
excerpt: Katalog is a lifestyle blog about knitting, reading, and writing. Read for fun tips and inspiration. Written and designed by Katie Gilbert.
---

<div class="home">
  <div class="home-sidebar">
  <!--About Info-->
    <h1>Welcome to Katalog!</h2>
    <div class="sidebar-item">
      <img src="/katalog/assets/katie.jpg">
      <p class="small-text">My name is Katie. I love to share stories and help showcase what makes you stand out.
      I have experience working with small to medium sized businesses to capture their company voice and style. Here, you can find
      samples of my web content, blog articles, and press releases. You can <a href="{{ site.github.url }}/about/">
      also read more about me here!</a>
      </p>
    </div>
    <!--post category listing
    <h3>Categories</h3>
    <h1 class="archive-title">
      {% for post in site.categories[page.category] %}{{ page.category }}</p>{% endfor %}
    </h1>-->
    <!--Social Media Icons-->
    <span id="main-social-icons">
      <h2 class="underline">You can Find Me Here:</h2>
      <ul id=sidebar-social-icons>
        <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/KT_a_Gilbert"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.pinterest.com/ktagilbert/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
      </ul>
    </span>
  </div>
<!--post list-->
  <div class="posts">
    <h1 class="page-heading">Posts</h1>

    <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2><a href="{{ site.github.url }}/katalog/{{ post.url }}">{{ post.title }}</a></h2>
        <a href="/{{ post.url }}">
        <img class="post-list-img"src="{{ site.github.url }}/katalog/assets/{{ post.image }}">
        </a></br>
        {{ post.excerpt }}
      </li>
    {% endfor %}
    </ul>
</div>

<!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
