---
layout: default
excerpt: Katie Gilbert is a copywriter for hire based in Beaverton, Oregon. Read on to see her portfolio or read the blog for content marketing tips and more!
---

<div class="home">
  <div class="home-sidebar">
  <!--About Info-->
    <h1>Welcome to Katalog!</h2>
    <div class="sidebar-item">
      <img src="{{ site.github.url }}/assets/katie.jpg" alt="Katie Gilbert">
      <p class="small-text">My name is Katie. I love to share stories and help showcase what makes you stand out.
      I have experience working with small to medium sized businesses to capture their company voice and style. Here, you can find
      samples of my web content, blog articles, and press releases. You can <a href="{{ site.github.url }}/about/">
      also read more about me here!</a>
      </p>
    </div>
    <!--post category listing
    <h3>Categories</h3>
    <h1 class="archive-title">
      {% for post in site.categories[page.category] %}{{ page.category }}</p>{% endfor %}
    </h1>-->
    <!--Social Media Icons-->
    <span id="main-social-icons">
      <h3 class="underline">You can Find Me Here:</h2>
      <ul id=sidebar-social-icons>
        <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/KT_a_Gilbert"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.pinterest.com/ktagilbert/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
        <li><a href="https://medium.com/@KT_a_Gilbert"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
      </ul>
    </span>
  </div>
<!--post list-->
  <div class="posts">
    <h1 class="page-heading">Posts</h1>

    <ul class="post-list">
    {% for post in paginator.posts %}
    {% for post in site.posts %}
      <li>
        <h3><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a></h2>
        <a href="/{{ post.url }}">
        <img class="post-list-img"src="{{ site.github.url }}/assets/{{ post.image }}">
        </a></br>
        {{ post.excerpt }}
      </li>
    {% endfor %}
    </ul>

{% if paginator.total_pages > 1 %}
 <div class="pagination">
   {% if paginator.previous_page %}
     <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
   {% else %}
     <span>&laquo; Prev</span>
   {% endif %}

   {% for page in (1..paginator.total_pages) %}
     {% if page == paginator.page %}
       <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
     {% else %}
       <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
     {% endif %}
   {% endfor %}

   {% if paginator.next_page %}
     <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
   {% else %}
     <span>Next &raquo;</span>
   {% endif %}
 </div>
 {% endif %}
</div>

<!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
