<div class="wrapper">
</div>
<footer class="site-footer">

    <div class="footer-col-wrapper">
      <ul id="site-by">
          <img src="/favicon/apple-touch-icon-60x60.png" />
          <p>
            |  © <a href="https://www.linkedin.com/in/gilbertkatie">Katie Gilbert</a>
          </p>
        </ul>
    <ul class="footer-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/working-with-me">Working With Me</a></li>
        <li><a href="/resources/">Free Resources</a></li>
    </ul>
    <ul class="footer-social-icons">
          <li><a href="https://www.facebook.com/katalogspace/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/katalogspace/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/KT_a_Gilbert"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://www.pinterest.com/ktagilbert/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
          <li><a href="https://medium.com/@KT_a_Gilbert"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
          <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</footer>
