<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="https://twitter.com/KT_a_Gilbert"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://www.pinterest.com/ktagilbert/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <p class="float-right small-text">©2016 Site by <a href="https://www.linkedin.com/in/gilbertkatie">Katie Gilbert</a></p>

  </div>
</footer>
