#sidebar-social-icons {
  color: $orange;
  font-size: 1.5em;

  li {
    display: inline-block;
    padding: 10px;
  }
}

#mobile-social-icons {
  display: none;
  width: 100%;
  background-color: #111;
  padding: 10px 0;
  position: fixed;

  a {
    display: inline-block;
    color: #fff;
    width: 15%;
    text-align: center;
  }
}

@media (max-width: 1100px) {
  #mobile-social-icons {
    display: initial;
  }
}

.pagination {
  width: 65%;
  text-align: center;
  padding: 10% 0;
  font-weight: bold;
}

.post-nav-title {
  list-style: none;
  width: 65%;
  margin: auto;
  padding: 5% 0%;

  .post-nav-link {
    font-weight: bold;
    font-size: 1.5em;
    color: $blue;
    text-align: center;

    #title-prev {
      width: 46%;
      text-align: center;
      display: inline-block;
      float: left;
    }
  }
}

.post-nav-link a:hover {
  color: #111 !important;
}

.post-nav-title {
  .post-nav-link {
    #title-next {
      width: 45%;
      text-align: center;
      display: inline-block;
      float: right;
    }
  }
}

@media (max-width: 700px) {
  .post-nav-title {
    .post-nav-link {
      font-size: 0.9em;
    }
  }
}
