#sidebar-social-icons {
  color: $orange;
  font-size: 1.5em;

  li {
    display: inline-block;
    padding: 10px;
  }
}

.pagination {
  width: 65%;
  text-align: center;
  padding: 10% 0;
  font-weight: bold;
}

.post-nav-title {
  list-style: none;
  width: 65%;
  margin: auto;
  padding: 5% 0%;

  .post-nav-link {
    font-weight: bold;
    font-size: 1.5em;
    color: $blue;
    text-align: center;

    .post-nav-link:hover {
      color: #111 !important;
      text-decoration: underline;
    }

    #title-prev {
      width: 46%;
      text-align: center;
      display: inline-block;
      float: left;
    }
  }
}

.post-nav-title {
  .post-nav-link {
    #title-next {
      width: 45%;
      text-align: center;
      display: inline-block;
      float: right;
    }
  }
}

@media (max-width: 700px) {
  .post-nav-title {
    .post-nav-link {
      font-size: 1em;
    }
  }
}
