/**
 * Site header
 */

 .home {
   padding: 0 10%;
 }

.site-header {
    border-top: 5px solid #f2f2f2;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

@media (max-width: 1100px) {
  .site-header {
    border-top-width: 0px;
  }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}
//     @include media-query($on-palm) {
//         position: absolute;
//         top: 9px;
//         right: $spacing-unit / 2;
//         background-color: $background-color;
//         border: 1px solid $grey-color-light;
//         border-radius: 5px;
//         text-align: right;
//
//         .menu-icon {
//             display: block;
//             float: right;
//             width: 36px;
//             height: 26px;
//             line-height: 0;
//             padding-top: 10px;
//             text-align: center;
//
//             > svg {
//                 width: 18px;
//                 height: 15px;
//
//                 path {
//                     fill: $grey-color-dark;
//                 }
//             }
//         }
//
//         .trigger {
//             clear: both;
//             display: none;
//         }
//
//         &:hover .trigger {
//             display: block;
//             padding-bottom: 5px;
//         }
//
//         .page-link {
//             display: block;
//             padding: 5px 10px;
//
//             &:not(:last-child) {
//                 margin-right: 0;
//             }
//             margin-left: 20px;
//         }
//     }
// }





/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    display: none;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-list {
  h3 {
    font-size: 1.5em;
  }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-list {
  img {
    padding: 0 0 2% 0
  }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 2em !important;

        @include media-query($on-laptop) {
            font-size: 1.5em;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

//portfolio page
#portfolio-list {
  .work-sample {
    float: left;
    width: 47%;
    height: 630px;

    a {
      img {
        display: inline-block;
      }
    }
  }
}

#portfolio-list {
  .work-sample-text {
    float: right;
    width: 47%;
    height: 630px;
  }
}

@media (max-width: 1200px) {
  #portfolio-list {
    margin: auto;
    height: initial;

    .work-sample-text {
      display: block;
      width: 100%;
      margin: auto;
      height: initial;
      padding-bottom: 10%;
    }
  }
}

@media (max-width: 1200px) {
  #portfolio-list {
    margin: auto;
    height: initial;

    .work-sample {
      width: 100% !important;
      display: block;
      margin: auto;
      height: initial;
      text-align: center;
      padding: 5% 1%;

      a {
        img {
          display: table-cell;
        }
      }
    }
  }
}


@media (max-width: 600px) {
  #portfolio-list {
    margin: auto;
    height: 100%;
    height: initial;

    .work-sample-text {
      display: block;
      width: 100%;
      margin: auto;
      padding-bottom: 10%;
    }
  }
}

/*Working With Me Page*/

.service {
  width: 44%;
  margin: 3%;
  height: 300px;

  h4 {
    text-align: center;
  }
}

.service:nth-of-type(even) {
  float: right;
}

.service:nth-of-type(odd) {
  float: left;
}

.service {
  .fa {
    text-align: center;
    color: $orange;
    font-size: 2em;
    display: block;
  }
}

.service-headers {
  text-align: center;
  margin: 5%;

  h2 {
    background-color: $orange;
    margin: auto;
  }
}

.fa {
  display: block !important;;
}

.take-action {
  background-color: $orange;
  padding: 5% 10%;
  text-align: center;
}

.inner-action-header {
  h3 {
    text-decoration: underline;
    background-color: transparent;
    box-shadow: none;
    font-size: 2em;
  }
  p {
    font-size: 1.2em;
  }
  a {
    color: #fff;
  }
  a:visited {
    color: #fff;
  }
}

//resources page

.half-column-left {
  width: 45%;
  float: left;
  padding: 2%;
  text-align: center;
  margin-bottom: 2%;

  a {
    color: inherit;
  }

  a:hover {
    color: #666;
    text-decoration: none;
  }

  .fa {
    font-size: 4em;
    color: skyblue;
    padding: 5% 0;
  }
}

.half-column-right {
  width: 45%;
  float: right;
  padding: 2%;
  margin-bottom: 2%;
  text-align: center;
  border-left: solid 1px #d3d3d3;

  a {
    color: inherit;
  }

  a:hover {
    color: #666;
    text-decoration: none;
  }

  .fa {
    font-size: 4em;
    color: skyblue;
    padding: 5% 0;
  }
}

//landing pages
.landing-page-content {
  width: 40%;
  float: left;
  padding: 2%;
  font-size: 1.2em;

  p:last-of-type {
    margin-bottom: 50px;
  }

  h3 {
    padding-bottom: 5%;
  }
}

.landing-page-image {
  width: 50%;
  float: right;
  padding: 2%;

  img {
    max-height: 600px;
  }
}

@media(max-width: 1100px) {
  .landing-page-content {
    width: 100%;
    float: none;
  }

  .landing-page-image {
    width: 100%;
    float: none;
  }
}

.landing-page-button:visited {
  color: #fff;
}

@media(max-width: 600px) {
  .take-action {
    #inner-icon {
      display: none;
    }
  }
}

@media(max-width: 860px) {
  .service {
    height: 400px;
  }
}

@media(max-width: 550px) {
  .service:nth-of-type(odd) {
    float: none;
    width: 100%;
    height: auto;
    padding: 10px 0;
  }
  .service:nth-of-type(even) {
    float: none;
    width: 100%;
    height: auto;
    padding: 10px 0;
  }

  .take-action {
    margin: none;

    #inner-action {
      width: 100%;
    }
  }
}

@media(max-width: 700px) {
  .take-action {
      #inner-action {
        .button {
          width: 100%;
          float: none;
          margin: 2% 0;
        }
        .button:nth-of-type(odd) {
          float: none;
      }
        .button:nth-of-type(even) {
          float: none;
        }
      }
  }
}

.about-content {
  width: 50%;
  float: left;
  padding-bottom: 10%;
}
.about-box {
    width: 40%;
    float: right;
    box-shadow: 40px 24px 0px;
    margin-bottom: 10%;

    .about-image {
      box-shadow: 20px 10px 0 #EEE9E6;
    }
}

@media(max-width: 950px) {
  .about-content {
    width: 100%;
    float: none;
    margin: 15% 0 0 0;
  }
  .about-box {
    width: 80%;
    margin: auto;
    float: none;

    img {
      width: 100%;
    }
  }
}

/*disqus*/

#disqus_thread {
  width: 65%;
  margin: auto;
  padding-top: 5%;
}

@media(max-width: 650px){
  #disqus_thread {
    width: 95%;
  }
}
