
.post-list {
  list-style: none;
}

.home-sidebar {
  width: 30%;
  float: right;

  img {
    padding: 10px 0 20px 0;
  }
}

.posts {
  width: 50%;
  float: left;
}

@media(max-width: 1100px) {
  .home-sidebar {
    width: 100%;

    #main-social-icons {
      display: none;
    }

    img {
      display: none;
    }
  }
  .posts {
    width: 100%;
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

body > div > div > article > div > p:nth-child(1) > img {
  display: table-cell;
  padding: 3% 0;
}

.post {
  .post-content {
    img {
      display: table-cell;
    }
  }
}

.archive-title {
  text-transform: capitalize;
}

.three-row {
  display: flex;
}

.image-text-combo {
  flex-basis: 33%;
  text-align: center;
  flex-direction: row;
  padding: 3%;
  img {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 1000px) {
  .three-row {
    display: block;
  }
}
