
.post-list {
  list-style: none;
  width: 60%;
  display: inline-block;
  margin: 0 20%;
  text-align: center;
}

.home-sidebar {
  width: 30%;
  float: right;

  img {
    padding: 10px 0 20px 0;
  }
}

@media(max-width: 1100px) {
  .home-sidebar {
    width: 100%;

    #main-social-icons {
      display: none;
    }

    img {
      display: none;
    }
  }
  .posts {
    width: 100%;
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

body > div > div > article > div > p:nth-child(1) > img {
  display: table-cell;
  padding: 3% 0;
}

.post {
  .post-content {
    img {
      display: table-cell;
    }
  }
}

.archive-title {
  text-transform: capitalize;
}

.three-row {
  display: flex;
}

.image-text-combo {
  flex-basis: 33%;
  text-align: center;
  flex-direction: row;
  padding: 3%;
}

@media (max-width: 750px) {
  .three-row {
    display: block;
  }
}
