---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
<div class="wrapper">
  <div class="post-content">
    {{ content }}
  </div>
</div>
</article>

<div class="testimonials">
    <h2>What Others Are Saying</h2>
  <div class="list-of-testimonials">
    <div id="testimonial-1">
      "Creatives often have the reputation of being “lofty" or out of touch with real world business needs. Not Katie. Katie filled the role of Chief Content Officer on the creative team I managed at this agency. I hired her to tackle a large volume of ongoing social media management and website content projects. And I’m happy to say, she quickly got a potentially bad situation under control.
      Katie was able to quickly organize her workload and the workload of her internal and outsourced teams. This enabled her department to get project deadlines back on track, helping us maintain good client relationships. But the thing I, and I think the rest of the team, always appreciated the most was that she’s an absolute pleasure to work with!"<br/><br/> - Erik Schade
    </div>
    <div id="testimonial-2">
      "Katie exceeded my expectations when I hired her as our team's new SEO Specialist. Not only was she well versed in SEO and Social Media from the start, she also brought with her a background in web development and creative writing which makes her a rarity in the industry. I was also always impressed with her initiative and ability to step up and go the extra mile for the team. I look forward to seeing her advance in her career."<br/><br/> - Terry Scrimscher
    </div>
    <div id="testimonial-3">
      "Katie volunteered on my committee for the 2015 MAX Awards and was a huge asset to our team. In all tasks, from sourcing flowers to updating our website, Katie was prompt, resourceful and eager to help. Katie never wavered in her commitment to the work and was truly an exemplary volunteer. Anyone who has the chance to work with her will see that her work ethic and ingenuity are second to none. I give Katie my highest recommendation."<br/><br/> - Lauren Sanders
    </div>
  </div>
</div>

<div class="take-action">
  <div id="inner-action">
    <div class="inner-action-header">
      <h3>Let's Get Started</h3>
      <p>You can <a href="mailto:ktagilbert@gmail.com">email me today</a> to learn about pricing. While you're at it, <a href="{{ site.github.url }}/assets/gilbert-marketing-resume.pdf" download="/assets/katie-gilbert-resume.pdf">download my resume!</p>
    </div>
  </div>
</div>
